.products__sorting-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    margin-bottom: 26px;
  }
}

.products__sorting-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @media (min-width: $tablet) {
    margin-right: 10px;
  }
}

.products__sorting-price {
  width: 165px;
  height: 32px;
  padding: 4px 0 4px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: lowercase;
  color: $base-primary;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: $base-secondary;
  }

  &:focus {
    background-color: $base-secondary;
    border: none;
    outline: none;
  }
}

.products__sorting-price option {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $base-black;
  background-color: $base-white;
}

.products__list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 317px);
    margin-bottom: 60px;
  }
}

.products__item {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
